.logo {
  a {
    display: flex;
    flex-wrap: wrap;
    color: $white;
    text-decoration: none;
    font-size: 38.86px;
    font-weight: bolder;
    letter-spacing: .7px;
    font-family: $oswald;
    line-height: 1;
    align-items: center;
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 24px;
    }

    img {
      width: 48px;
      margin-right: 28px;
    }
    span {
      line-height: 1;
    }
  }
}