mixin social(position)
    if position === 'vertical'
        ul.social.vertical
            li
                a(href='#')
                    i.fa.fa-vk(aria-hidden="true")
            li
                a(href='#')
                    i.fa.fa-facebook-official(aria-hidden="true")
            li
                a(href='#')
                    i.fa.fa-twitter(aria-hidden="true")
            li
                a(href='#')
                    i.fa.fa-youtube-play(aria-hidden="true")