extends ../layout/base.pug

block content
    .col-xl-7
        .row
            .col-xl-4.d-xl-block.d-none
                .phone
                    a(href='tel:+74996539480') +7 (499) 653 94 80
                .number 01
            .col-xl-8.worth
                .row
                    .col-xl-12
                        .title
                            .d-block.number.float-left.text-left.d-xl-none 01
                            h1 Почему
                                | &nbsp;
                                b стоит выбрать
                                br
                                |LEADS.BLACK?
                    .col-lg-6.col-xl-6
                        .worth__item
                            .subtitle
                                .subtitle__romb
                                    img(src='./assets/img/icons/romb.png' alt='')
                                h3 Тестовый трафик&nbsp;
                                    br
                                    | без депозита
                            p Для того чтобы&nbsp;Вы смогли по&nbsp;достоинству оценить качество нашей работы, мы&nbsp;готовы провести тестовую рекламную кампанию без предоплаты.
                        .worth__item
                            .subtitle
                                .subtitle__romb
                                    img(src='./assets/img/icons/romb.png' alt='')
                                h3 Опытная команда&nbsp;
                                    br
                                    | поддержки
                            p Ветераны индустрии с&nbsp;семилетним опытом помогут поднять Вашипродажи на&nbsp;новый уровень
                        .worth__item
                            .subtitle
                                .subtitle__romb
                                    img(src='./assets/img/icons/romb.png' alt='')
                                h3 "Белые" каналы&nbsp;
                                    br
                                    | трафика
                            p У&nbsp;нас&nbsp;Вы не&nbsp;встретите вебмастеров использующих источники привлечениянекачественного трафика.
                    .col-lg-6.col-xl-6
                        .worth__item
                            .subtitle
                                .subtitle__romb
                                    img(src='./assets/img/icons/romb.png' alt='')
                                h3 Мы сделаем&nbsp;
                                    br
                                    | всё за Вас
                            p Разместим Ваш продукт в&nbsp;системе LEADS.BLACK , настроим полную и&nbsp;прозрачную аналитику в&nbsp;Вашем личном кабинете. Если у&nbsp;Вас нет продающих материалов, то&nbsp;мы&nbsp;сделаем для Вас высоко-конверсионные лендинги и&nbsp;рекламные баннеры.
                        .worth__item
                            .subtitle
                                .subtitle__romb
                                    img(src='./assets/img/icons/romb.png' alt='')
                                h3 Гибкость&nbsp;
                                    br
                                    | в объемах
                            p ВLEADS.BLACK имеет возможность очень гибко регулировать количество трафика необходимого Вам.

    .col-xl-5.right-block
        .phone.d-lg-block.d-xl-none
            a(href='tel:+74996539480') +7 (499) 653 94 80
        .social-block
            +social('vertical')
        img(src='./assets/img/statuya.jpg' alt='')