@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;subset=cyrillic');

@import "bootstrap";
@import "../assets/fonts/FontAwesome/scss/font-awesome.scss";

// main
@import "../assets/sass/variables.scss";
@import "../assets/sass/main.scss";

// blocks
@import "../blocks/header/header";


// components
@import "../components/logo/logo";
@import "../components/nav/nav";

