- lang = 'ru';
- siteName = 'leads.black';
- host = 'http://localhost:3000/';
- path = 'build/';

-
    var user = [
        {
            name: 'Максим Иванович',
            group: 'Администратор',
            logged: 'Зарегистрирован',
            social: [
                {
                    vk: 'vk',
                    fb: 'fb',
                    ok: 'ok',
                    tw: 'tw',
                    ya: 'ya',
                    gplus: 'gplus'
                }
            ]
        }
    ];