header.header
    .container-fluid
        .header__wrapper.d-flex.justify-content-between
            nav.navbar.navbar-expand-xl
                .logo.mr-auto
                    +logo('logo.png', 'navbar-brand')
                button.toggler.d-xl-none(type="button")
                    span.navbar-toggler-icon
                        i.fa.fa-bars
                .navigation
                    .main-nav
                        +nav-top()
                    .user-nav