.navbar {
  padding: 0;
  margin: 0;
  width: 100%;

  .navigation {

    @media (max-width: 1199px) {
      opacity: 0;
      height: 0;
      z-index: -1;
      position: absolute;
      right: -15px;
      top: -999px;
      width: 70%;
      max-width: 280px;
      background-color: $black;
      transition: .3s ease-in-out;

      &.show {
        opacity: 1;
        min-height: 440px;
        height: calc(100vh - 60px);
        top: 55px;
        z-index: 9;
      }
    }
    .main-nav {
      .nav-item {
        padding: 0 27px;

        @media (max-width: 1390px) {
          padding: 0 10px;
          font-size: 14px;
        }
        &:last-child {
          padding-right: 0;
          padding-left: 122px;

          @media (max-width: 1390px) {
            padding-left: 20px;
          }
        }
        .nav-link {
          outline: none;
          text-decoration: none;
          color: $white;
          transition: .25s ease-in-out;
          border-bottom: 2px solid transparent;
          padding: 20px 0 3px;
          line-height: 100px;
          letter-spacing: 1.3px;

          @media (max-width: 1390px) {
            padding: 0 10px;
          }
          @media (max-width: 1199px) {
            line-height: 70px;
          }
          &:hover,
          &:focus {
            color: $link;
            border-bottom: 2px solid $link;
          }
          &.user {
            border-bottom: transparent;
            color: $link;
            font-size: 27.27px;
            padding-top: 15px;

            @media (max-width: 1390px) {
              padding: 0 10px;
            }
            &:hover,
            &:focus {
              border-bottom: transparent;
            }
          }
        }


        &.active{
          .nav-link {
            color: $link;
            border-bottom: 2px solid $link;
          }
        }
      }
    }
  }
}