include ./nav.data.pug
mixin nav-top
    #navbarNav
        ul.navbar-nav
            each item in menu
                if item.url === '/'
                    li.nav-item.active
                        a.nav-link(href=item.url)= item.title
                            span.sr-only (current)
                else
                    li.nav-item
                        a.nav-link(href=item.url class=item.className)
                            if item.icon && item.title === ''
                                i.fa(class=item.icon)
                            else
                                | #{item.title}
