-
    var menu = [
        {
            title: 'Партнерство',
            url: '/'
        },
        {
            title: 'Почему мы',
            url: '#'
        },
        {
            title: 'Ваша выгода',
            url: '#'
        },
        {
            title: 'Категории офферов',
            url: '#'
        },
        {
            title: 'Контакты',
            url: '#'
        },
        {
            title: '',
            className: 'user',
            icon: 'fa-user-circle-o',
            url: '#'
        }
    ]
