include ../../config/config.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title Document
        link(rel="stylesheet", href="./assets/css/style.css") 
    body
        include ../components/mixins.pug

        include ../blocks/header/header.pug
        .page.page__home
            .container-fluid
                .row
                    block content
        
        include ../blocks/footer/footer.pug
       
        block scripts         
            script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
            
            script(src="./assets/js/main.min.js")