a,
button,
select {
  &:focus,
  &:hover {
    cursor: pointer;
    outline: none;
    transition: .25s ease-in;
  }
}

button.toggler {
  background: none;
  border: none;
  color: $white;
  z-index: 99;

  @media (max-width: 767px) {
    margin-top: -7px;
  }
  i {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    width: 100%;
    max-width: 1920px;
    padding: 0 30px;
  }

  .container {
    padding: 0 30px;
  }
  .row {
    margin-left: -30px;
    margin-right: -30px;
  }

  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-12,
  .col-lg-12 {
    padding: 0 30px;
  }
}
.page {
  &__home {
    padding: 76px 0;

    @media (max-width: 1199px) {
      padding-bottom: 0;
    }

    @media (max-width: 767px) {
      padding-top: 30px;
    }

    .right-block {
      padding-left: 45px;
      padding-right: 0;
      margin-top: 14px;

      @media (max-width: 1199px) {
        padding-left: 0;
      }

      @media (max-width: 767px) {
        padding-top: 50px;
      }
      .social-block {
        position: absolute;
        right: 30px;
        top: 173px;

        @media (max-width: 767px) {
          top: auto;
          bottom: 15px;
          right: 15px;
        }
        ul {
          margin: 0;
          padding: 0;
          
          li {
            list-style: none;
            padding: 18px 0;
            margin: 0;
            
            a {
              color: $black;
              font-size: 24px;
              text-decoration: none;
            }
          }
        }
      }
      img {
        width: 100%;
      }
    }
  }

  .phone {
    position: absolute;
    transform: rotate(-90deg);
    top: 312px;
    left: -45px;
    letter-spacing: 1.6px;

    @media (max-width: 1199px) {
      transform: rotate(0);
      right: 30px;
      left: auto;
      top: 0;
    }

    @media (max-width: 480px) {
      display: block;
      text-align: center;
      font-size: 24px;
      width: 100%;
      left: auto;
      right: auto;
      margin: 0 auto;
      top: -15px;
    }
    a {
      font-family: $oswald;
      font-size: 24px;
      text-decoration: none;
      color: $black;

      @media (max-width: 1199px) {
        font-size: 48px;
        font-weight: 900;
      }

      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
  }

  .number {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 137.53px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    margin-top: -12px;
    letter-spacing: 7px;
    padding-left: 55px;

    @media (max-width: 1199px) {
      padding-left: 0;
    }

    @media (max-width: 767px) {
      font-size: 70px;
      font-weight: 500;
      letter-spacing: 0;
    }
  }
}


.worth {
  .title {
    h1 {
      font-family: $oswald;
      margin-bottom: 10px;
      font-size: 48px;
      line-height: 60px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3px;

      b {
        font-weight: 500;
      }
    }
  }

  &__item {
    margin-top: 50px;
    margin-bottom: 75px;
    letter-spacing: 1.5px;

    @media (max-width: 767px) {
      margin: 30px 0;
    }
    &:last-child {
      margin-top: -15px;

      @media (max-width: 767px) {
        margin: 30px 0;
      }
    }

    .subtitle {
      &__romb {
        display: block;
        position: absolute;
        left: 7px;

        @media (max-width: 1199px) {
          display: block;
          position: relative;
          float: left;
          left: 0;
          padding-right: 15px;
          margin-bottom: 35px;
        }
      }

      h3 {
        font-family: $oswald;
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;

        @media (max-width: 1199px) {
          br {
            display: none;
          }
        }
      }
    }
    p {
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-size: 16px;
      margin-top: 30px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.1px;
    }
  }
}